P {
       font-family: Times New Roman, serif;
       font-size: 14pt;
       color: #000000;
       margin-right: 15%;
       margin-top: 1pt;
       margin-bottom: 1pt;
       
       text-align: left;
       }
